<div class="dashboard-details">
  <h1>My Details</h1>
  <div class="flex">
    <div>
      <img class="avatar details-avatar"
      {{#if currentUser.avatar}}
      src="{{currentUser.avatar}}"
      {{else}}
      src="/uploads/avatars/avatar-default.jpg"
      {{/if}}
      alt="{{currentUser.firstname}} {{currentUser.lastname}}" />
      {{!-- TODO: change url --}}
      <a class="open-upload-avatar">Change photo <img src="/assets/icons/pencil-alt-solid.svg" alt="pencil icon" width="15" /></a>
      <form class="invisible flex" action="/upload-avatar" method="post" enctype="multipart/form-data">
        <input class="upload-avatar" type="file" name="avatar" />
        <button type="submit">Upload</button>
      </form>
    </div>


    <div>
      <p><strong>First name: </strong>{{currentUser.firstname}}</p>
      <p><strong>Last name: </strong>{{currentUser.lastname}}</p>
      <p><strong>Contact number: </strong>{{currentUser.contact_number}}</p>
      <p><strong>Email: </strong>{{currentUser.email}}</p>
      <p><strong>Team: </strong>{{currentUser.primary_team}}</p>
      <p><strong>Position: </strong>{{currentUser.position}}</p>
      <p><strong>Employee status: </strong>{{currentUser.employee_status}}</p>
      <p><strong>City: </strong>{{currentUser.city}}</p>
      <p><strong>Commencement date: </strong>{{currentUser.commencement_date}}</p>
      <p><strong>Currently active: </strong>{{currentUser.active}}</p>
      {{!-- TODO: change url --}}
      <a class="edit-profile-link">Edit details <img src="/assets/icons/pencil-alt-solid.svg" alt="pencil icon" width="15" /></a>
    </div>
  </div>
</div>
<div class="todo"></div>