<div style="width:100%;">
  <h1>Member Directory</h1>
  <table>
    <thead>
      <tr>
        <th>Profile Image</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Team</th>
        <th>Position</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <td><img class="avatar small-avatar"
        {{#if this.avatar}}
        src="{{this.avatar}}"
        {{else}}
        src="uploads/avatars/avatar-default.jpg"
        {{/if}}
        alt="{{this.firstname}} {{this.lastname}}" /></td>
        <td>{{this.firstname}}</td>
        <td>{{this.lastname}}</td>
        <td>{{this.email}}</td>
        <td>{{this.primary_team}}</td>
        <td>{{this.position}}</td>
        <td>{{this.city}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>